* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
a{
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 2px;
    padding: 10px 0px;
}
a{
    color: blue;
    &:hover{
        color: aliceblue;
    }
}

footer a{
    color: black;
    &:hover{
        color: blue;
    }
}

.container {
    width: 90vw;
    height: auto;
    text-align: center;
}

.container-fluide {
    width: 90%;
    height: auto;
    text-align: center;
}



.img{
    width: 60%;
    height: auto;
}
.img-logo{
    width: 30%;
    height: auto;
}
.circle{
    clip-path: circle();
    
}
form{
    width: clamp(300px, 50%,55% );
    height: auto;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    label{
        color: rgb(255, 255, 255);
    }
    button{
        width: 100% !important;
        font-size: 1.3em;
        height: 50px !important;
    }
}
input, select{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border:2px solid white;
    margin-top: 10px;
    color: #2f2f2f;
    &:focus{
        border: 5px solid orange ;
    }
    &::placeholder{
        color: #2f2f2f;
    }

}
.noborder{
    border: 0px solid black !important;
    border-radius: 15px !important;
}
.checkbox{
    width: 10% !important;
    height: 20px;
}


.circle {
    clip-path: circle();

}


.ul {
    list-style-type: none;
}

.base:hover{
    background: rgb(24,24,24);
    cursor: pointer;
}

.card{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    width: 700px;
    min-height: 200px;
    max-height: 800px;
    height: auto;
    border: 1px solid gray;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

textarea{
    resize: none;
    width: clamp(100px,60%, 90% );
    height: 100px;
    border-radius: 10px;
    background-color: #2f2f2f;
}
.box{
    width: clamp(200px,40vw, 80vw);
    height: auto;
    background-color:#2f2f2f;
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .icons {
        flex-direction: column !important;
    }
    .div-like{
        flex-direction: column !important;
        
    }
    .card-follow{
        flex-direction: column !important;
    }
}

